<a href="https://colab.research.google.com/github/AkhMutholib/DataMining/blob/main/decisiontree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

In [2]:
Dataset = pd.read_csv('Dataset.csv',delimiter=';',header=0)

In [3]:
Dataset.head()

   Id   Age  Height  Weight  Riches Gender
0   1   7.0    1.00    30.8     0.4    Man
1   2  17.2    1.60    50.5     1.5    Man
2   3  25.0    1.70    60.7    18.5    Man
3   4  32.5    1.45     4.0   100.3    Man
4   5  45.8    2.00    42.5    30.5    Man

In [4]:
Dataset["Gender"]=pd.factorize(Dataset.Gender)[0]

In [5]:
Dataset.head()

   Id   Age  Height  Weight  Riches  Gender
0   1   7.0    1.00    30.8     0.4       0
1   2  17.2    1.60    50.5     1.5       0
2   3  25.0    1.70    60.7    18.5       0
3   4  32.5    1.45     4.0   100.3       0
4   5  45.8    2.00    42.5    30.5       0

In [6]:
print(Dataset)

    Id   Age  Height  Weight  Riches  Gender
0    1   7.0    1.00    30.8     0.4       0
1    2  17.2    1.60    50.5     1.5       0
2    3  25.0    1.70    60.7    18.5       0
3    4  32.5    1.45     4.0   100.3       0
4    5  45.8    2.00    42.5    30.5       0
5    6  60.2    1.85    65.0   100.3       0
6    7  12.1    1.80    72.0    16.2       0
7    8  37.5    1.70    45.8     1.0       0
8    9  22.2    1.55    55.8    13.8       0
9   10  25.2    1.60    39.9    14.2       0
10  11  32.8    2.00    35.3     1.0       1
11  12  45.5    3.00    42.5    20.5       1
12  13   6.0    1.68     4.0     1.0       1
13  14  32.4    1.72    48.7    42.5       1
14  15  20.5    1.68    36.8    13.5       1
15  16  32.0    1.50    42.4    40.2       1
16  17  50.2    3.00    45.5    15.5       1
17  18  28.0    1.78    40.1     1.0       1
18  19  35.1    1.68    45.5    15.5       1
19  20  28.0    1.45    39.3    10.1       1
20  21   7.0    1.00    30.8     0.4       0
21  22  17.2    1.60    50.5     1.5       0
22  23  25.0    1.70    60.7    18.5       0
23  24  32.5    1.45     4.0   100.3       0
24  25  45.8    2.00    42.5    30.5       0
25  26  60.2    1.85    65.0   100.3       0
26  27  12.1    1.80    72.0    16.2       0
27  28  37.5    1.70    45.8     1.0       0
28  29  22.2    1.55    55.8    13.8       0
29  30  25.2    1.60    39.9    14.2       0
30  31  32.8    2.00    35.3     1.0       1
31  32  45.5    3.00    42.5    20.5       1
32  33   6.0    1.68     4.0     1.0       1
33  34  32.4    1.72    48.7    42.5       1
34  35  20.5    1.68    36.8    13.5       1
35  36  32.0    1.50    42.4    40.2       1
36  37  50.2    3.00    45.5    15.5       1
37  38  28.0    1.78    40.1     1.0       1
38  39  35.1    1.68    45.5    15.5       1
39  40  28.0    1.45    39.3    10.1       1

In [7]:
Dataset = Dataset.drop(labels="Id",axis=1)

In [8]:
print(Dataset)

     Age  Height  Weight  Riches  Gender
0    7.0    1.00    30.8     0.4       0
1   17.2    1.60    50.5     1.5       0
2   25.0    1.70    60.7    18.5       0
3   32.5    1.45     4.0   100.3       0
4   45.8    2.00    42.5    30.5       0
5   60.2    1.85    65.0   100.3       0
6   12.1    1.80    72.0    16.2       0
7   37.5    1.70    45.8     1.0       0
8   22.2    1.55    55.8    13.8       0
9   25.2    1.60    39.9    14.2       0
10  32.8    2.00    35.3     1.0       1
11  45.5    3.00    42.5    20.5       1
12   6.0    1.68     4.0     1.0       1
13  32.4    1.72    48.7    42.5       1
14  20.5    1.68    36.8    13.5       1
15  32.0    1.50    42.4    40.2       1
16  50.2    3.00    45.5    15.5       1
17  28.0    1.78    40.1     1.0       1
18  35.1    1.68    45.5    15.5       1
19  28.0    1.45    39.3    10.1       1
20   7.0    1.00    30.8     0.4       0
21  17.2    1.60    50.5     1.5       0
22  25.0    1.70    60.7    18.5       0
23  32.5    1.45     4.0   100.3       0
24  45.8    2.00    42.5    30.5       0
25  60.2    1.85    65.0   100.3       0
26  12.1    1.80    72.0    16.2       0
27  37.5    1.70    45.8     1.0       0
28  22.2    1.55    55.8    13.8       0
29  25.2    1.60    39.9    14.2       0
30  32.8    2.00    35.3     1.0       1
31  45.5    3.00    42.5    20.5       1
32   6.0    1.68     4.0     1.0       1
33  32.4    1.72    48.7    42.5       1
34  20.5    1.68    36.8    13.5       1
35  32.0    1.50    42.4    40.2       1
36  50.2    3.00    45.5    15.5       1
37  28.0    1.78    40.1     1.0       1
38  35.1    1.68    45.5    15.5       1
39  28.0    1.45    39.3    10.1       1

In [9]:
Dataset = Dataset.to_numpy()

In [10]:
print(Dataset)

[[  7.     1.    30.8    0.4    0.  ]
 [ 17.2    1.6   50.5    1.5    0.  ]
 [ 25.     1.7   60.7   18.5    0.  ]
 [ 32.5    1.45   4.   100.3    0.  ]
 [ 45.8    2.    42.5   30.5    0.  ]
 [ 60.2    1.85  65.   100.3    0.  ]
 [ 12.1    1.8   72.    16.2    0.  ]
 [ 37.5    1.7   45.8    1.     0.  ]
 [ 22.2    1.55  55.8   13.8    0.  ]
 [ 25.2    1.6   39.9   14.2    0.  ]
 [ 32.8    2.    35.3    1.     1.  ]
 [ 45.5    3.    42.5   20.5    1.  ]
 [  6.     1.68   4.     1.     1.  ]
 [ 32.4    1.72  48.7   42.5    1.  ]
 [ 20.5    1.68  36.8   13.5    1.  ]
 [ 32.     1.5   42.4   40.2    1.  ]
 [ 50.2    3.    45.5   15.5    1.  ]
 [ 28.     1.78  40.1    1.     1.  ]
 [ 35.1    1.68  45.5   15.5    1.  ]
 [ 28.     1.45  39.3   10.1    1.  ]
 [  7.     1.    30.8    0.4    0.  ]
 [ 17.2    1.6   50.5    1.5    0.  ]
 [ 25.     1.7   60.7   18.5    0.  ]
 [ 32.5    1.45   4.   100.3    0.  ]
 [ 45.8    2.    42.5   30.5    0.  ]
 [ 60.2    1.85  65.   100.3    0.  ]
 [ 12.1    1.8   72.    16.2    0.  ]
 [ 37.5    1.7   45.8    1.     0.  ]
 [ 22.2    1.55  55.8   13.8    0.  ]
 [ 25.2    1.6   39.9   14.2    0.  ]
 [ 32.8    2.    35.3    1.     1.  ]
 [ 45.5    3.    42.5   20.5    1.  ]
 [  6.     1.68   4.     1.     1.  ]
 [ 32.4    1.72  48.7   42.5    1.  ]
 [ 20.5    1.68  36.8   13.5    1.  ]
 [ 32.     1.5   42.4   40.2    1.  ]
 [ 50.2    3.    45.5   15.5    1.  ]
 [ 28.     1.78  40.1    1.     1.  ]
 [ 35.1    1.68  45.5   15.5    1.  ]
 [ 28.     1.45  39.3   10.1    1.  ]]

In [12]:
dataTraining = np.concatenate((Dataset[0:10, :], Dataset[10:20, :]),axis=0)
dataTesting = np.concatenate((Dataset[20:30, :], Dataset[30:40, :]),axis=0)

In [19]:
print(dataTesting)
len(dataTesting)

[[  7.     1.    30.8    0.4    0.  ]
 [ 17.2    1.6   50.5    1.5    0.  ]
 [ 25.     1.7   60.7   18.5    0.  ]
 [ 32.5    1.45   4.   100.3    0.  ]
 [ 45.8    2.    42.5   30.5    0.  ]
 [ 60.2    1.85  65.   100.3    0.  ]
 [ 12.1    1.8   72.    16.2    0.  ]
 [ 37.5    1.7   45.8    1.     0.  ]
 [ 22.2    1.55  55.8   13.8    0.  ]
 [ 25.2    1.6   39.9   14.2    0.  ]
 [ 32.8    2.    35.3    1.     1.  ]
 [ 45.5    3.    42.5   20.5    1.  ]
 [  6.     1.68   4.     1.     1.  ]
 [ 32.4    1.72  48.7   42.5    1.  ]
 [ 20.5    1.68  36.8   13.5    1.  ]
 [ 32.     1.5   42.4   40.2    1.  ]
 [ 50.2    3.    45.5   15.5    1.  ]
 [ 28.     1.78  40.1    1.     1.  ]
 [ 35.1    1.68  45.5   15.5    1.  ]
 [ 28.     1.45  39.3   10.1    1.  ]]

20

In [20]:
print(dataTraining)
len(dataTraining)

[[  7.     1.    30.8    0.4    0.  ]
 [ 17.2    1.6   50.5    1.5    0.  ]
 [ 25.     1.7   60.7   18.5    0.  ]
 [ 32.5    1.45   4.   100.3    0.  ]
 [ 45.8    2.    42.5   30.5    0.  ]
 [ 60.2    1.85  65.   100.3    0.  ]
 [ 12.1    1.8   72.    16.2    0.  ]
 [ 37.5    1.7   45.8    1.     0.  ]
 [ 22.2    1.55  55.8   13.8    0.  ]
 [ 25.2    1.6   39.9   14.2    0.  ]
 [ 32.8    2.    35.3    1.     1.  ]
 [ 45.5    3.    42.5   20.5    1.  ]
 [  6.     1.68   4.     1.     1.  ]
 [ 32.4    1.72  48.7   42.5    1.  ]
 [ 20.5    1.68  36.8   13.5    1.  ]
 [ 32.     1.5   42.4   40.2    1.  ]
 [ 50.2    3.    45.5   15.5    1.  ]
 [ 28.     1.78  40.1    1.     1.  ]
 [ 35.1    1.68  45.5   15.5    1.  ]
 [ 28.     1.45  39.3   10.1    1.  ]]

20

In [21]:
inputTraining = dataTraining[:,0:4]
inputTesting = dataTesting[:,0:4]
labelTraining = dataTraining[:,4]
labelTesting = dataTesting[:,4]

In [22]:
model = tree.DecisionTreeClassifier()

In [23]:
model = model.fit(inputTraining,labelTraining)

In [24]:
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ",labelTesting)
print("Hasil Prediksi : ",hasilPrediksi)

Label Sebenarnya :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
Hasil Prediksi :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [25]:
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar : ",prediksiBenar,"data")
print("Prediksi Benar : ",prediksiSalah,"data")
print("Akurasi : ", prediksiBenar/(prediksiBenar+prediksiSalah)*100,"%")

Prediksi Benar :  20 data
Prediksi Benar :  0 data
Akurasi :  100.0 %